body {
    font-family: 'Source Sans Pro';
    background:#FFFFFF;
    margin:0;
    color:white;
}

header a {
    text-decoration:none;
    color: #571212;
    font-size:1.8em;
    font-weight:700;
}

img { 
    width:150px;
}

header {
    grid-area: header;
    background:#FFFFFF;
    color: #571212;
    padding: 1em;
}

.nav{
    grid-area: header;
    color: #571212;
    float: right;
    font-size:0.6em;
    font-weight:700;
}

.home {
    grid-area: body;
    padding: 14em 1em;
    background-image: url('../img/cake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1{
    text-align: center;
}

.home h2{
    text-align: center;
}

.product{
    grid-area: body;
    padding: 5em 1em;
    background: #FFFFFF;
    overflow:hidden;
}

.product h1{
    text-align: center;
    color: #571212;
}

.product h3{
    text-align: center;
    color: #571212;
}

.product a{
    text-decoration:none;
}
.product .preview-product{
    padding: 10px;
    float: left;
    width: 200px;
    margin: 1px;
    right: -33%;
    position: relative;
}
 
.preview-product img{
    width: 100%;
    height: 175px;
    display: block;
    margin-bottom: 5px;
}


.review{
    grid-area: body;
    padding: 8em 1em;
    background: #571212;
}

.review p{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.order{
    grid-area: body;
    padding: 10em 1em;
    background: #FFFFFF;
}

.order h1{
    margin-top: -60px;
    text-align: center;
    color: #571212;
}

.button {
  background-color: #571212;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.about{
    grid-area: body;
    padding: 10em 1em;
    background: #FFFFFF;
    color: #571212;
    text-align: center;
}

.about p{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.our-product{
    grid-area: body;
    padding: 10em 1em;
    background: #FFFFFF;
    color: #571212;
    overflow: hidden;
    text-align: center;
}

.our-product .preview-product{
    padding: 10px;
    float: left;
    width: 200px;
    margin: 1px;
    right: -7%;
    position: relative;
}

footer {
    grid-area: footer;
    background:#571212;
}

ul {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
ul li {
    padding: 2em;
    color:#E98A8A;
}
ul li span {
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: white;
}

@media only screen and (max-width: 500px) {
    
    body {
        grid-template-areas: 
            "header"
            "footer"
            "body";
    }
    .product .preview-product{
        padding: 10px;
        float: left;
        width: 200px;
        margin: 1px;
        right: -17%;
        position: relative;
    }
    .our-product .preview-product{
        padding: 10px;
        float: left;
        width: 200px;
        margin: 1px;
        right: -17%;
        position: relative;
    }

}

